tui-dropdown {
    tui-data-list {
        button[tuioption] {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }
    }
}


tui-dialogs section.t-dialog {
    // min-block-size: 85% !important;
    border-radius: 12px !important;
}

tui-dialogs section.t-dialog {
    height: 94% !important;
    .t-heading{
        color: var(--tui-text-primary) !important;
    }
}


button {
    &[tuiButton],
    &[tuiIconButton] {
        border-radius: 30px !important;
    }
}

[tuiSkeleton]._skeleton{
    border-radius: 8px !important;
}