@import url('../../../../styles.scss');

.main-search {
    width: 100%;
    height: auto;

    input {
        width: 100%;
        padding: 12px 18px;
        border-radius: 30px;
        outline: none;
        border: none;
        font-size: 18px;
        // box-shadow: var(--input-outline);
        background-color: var(--main-bg-100);
        transition: all 0.25s ease-in-out;

        &:focus,
        &:hover {
            box-shadow: var(--input-outline);
        }
    }
}