/* You can add global styles to this file, and also import other style files */
// @import './style/andt.less';
@import "ng-zorro-antd/ng-zorro-antd.variable.min.css";
@import "./styles/antd.scss";
@import "./styles/tui-style.scss";
@import '@taiga-ui/core/styles/taiga-ui-local.scss';

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}


:root {
  // --background-baseline: 000 000 000;
  --background-highlight: 68 68 68;
  // --text-baseline: 255 255 255;
  // --text-primary: 29 185 84;
  // --text-opacity-7: .7;
  // --text-opacity-6: .6;
  // --text-opacity-5: .5;
  // --text-opacity-8: .8;
  // --text-opacity-9: .9;
  // --text-opacity: 1;

  --background-main: 22, 21, 21;
  --background-linear-gradient-left: rgba(29, 29, 29, 1);
  --background-linear-gradient-right: rgba(29, 29, 29, 1);

  --background-main-hover: 43, 43, 43;
  --background-linear-gradient-hover: rgba(29, 29, 29, 1);

  --box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

body {
  min-width: 600px;
  line-height: normal;
  font-size: 16px;
  letter-spacing: .015em;
  // background-color: rgba(var(--background-baseline));
  color: var(--tui-text-primary);
  overflow: hidden;
}


html {
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  font: inherit;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
  user-select: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}



/* Works on Firefox */
* {
  scrollbar-width: 6px;
  scrollbar-color: rgb(var(--background-highlight));
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--background-highlight);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--background-highlight));
  border-radius: 8px;
  border: 1px solid var(--background-highlight);
}

[tuiTheme=dark] {
  --tui-text-action: #d6d6d6;
  --tui-text-action-hover: #d6d6d6c9;
}

:root,
[tuiTheme=light] {
  --tui-text-action: #1b1f3b;
  --tui-text-action-hover: #1b1f3bc1;

}

.t-root-scrollbar {
  .t-bar_vertical {
    display: none;
  }
}